.title h1 a {
  color: #152535;
}

.title h1 a:hover {
  color: #ee002d;
  transition: 1s;
}

.news_item h1 {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 500;
}

.news_img img {
  width: 100%;
  height: 400px;

  object-fit: cover;
  object-position: 50% 10%;
}

.dis_likes,
.likes,
.comments {
  display: flex;
  align-items: center;
  gap: 15px;
}

.likes span,
.comments span {
  color: #828282;
  font-size: 14px;
  font-weight: 500;
}
.dis_likes span {
  color: #ee002d;
  font-size: 14px;
  font-weight: 500;
}

.category a {
  color: #ee002d;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.main_post p {
  color: #828282;
  font-size: 14px;
  line-height: 2.1;
  font-weight: 500;
}
.main_post p a {
  color: #ee002d;
  font-weight: 600;
  font-size: 14px;
}
.dis_likes:hover,
.likes:hover,
.comments:hover {
  cursor: pointer;
}
.news_actions span:hover {
  color: #ee002d;
}

.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
.main_post {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.side {
  flex: 1;
}

.Post {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.Comments {
  margin-top: 60px;
}

.news_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.add_actions {
  display: flex;
  gap: 20px;
}

.del_com {
  color: #ee002d;

  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 5px;
}
