.container {
  width: 80%;
  margin: 80px auto;
}

.all_users {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.user_card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 25%;
  border: 2px solid #ee002d;
  padding: 40px 20px;
  font-size: 16px;
}
.user_avatar {
  text-align: center;
}
.avatar {
  width: 200px;
  height: 200px;
  color: #ee002d;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user_name,
.user_discription {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user_actions {
  display: flex;
  justify-content: space-between;
}

.user_actions button {
  color: #fff;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.admin_button {
  background-color: rgb(0, 205, 17);
  border: 1px solid rgb(0, 205, 17);
}

.admin_button:active {
  background-color: #fff;
  color: rgb(0, 205, 17);
}

.dell_button {
  background-color: #ee002d;
  border: 1px solid #ee002d;
}

.dell_button:active {
  background-color: #fff;
  color: #ee002d;
}
