.header {
}
.header_inf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.header_top {
  padding: 30px 0;
  background: #ee002d;
}

.header h1 a {
  color: #fff;
  font-size: 34px;
  font-style: italic;
}

.header_nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}

.header_nav ul a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.header_nav input {
  font-size: 12px;
  color: #fff;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
  width: 200px;
  font-style: italic;
}

.header_nav input::placeholder {
  color: #fff;
}

.header_category {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 30px;
}

.header_category nav {
  width: 80%;
  margin: 0 auto;
}

.header_category ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  gap: 10%;
}

.header_category a {
  color: #828282;
}

.header_category a:hover {
  color: #ee002d;
  transition: 0.5s;
}
